h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 40px 80px 20px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-right: 12px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

hr {
    margin: 10px 2px;
}

input {
    width: 180px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

select {
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 80px;
    width: 80vw;
}

.info-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px 16px 30px;
    min-width: 300px;
    height: fit-content;
    font-weight: 200;
    line-height: 32px;
    background-color: white;
}

.info-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stat {
    font-weight: 600;
}

.action-container {
    height: fit-content;
    border: 1px solid black;
    border-radius: 8px;
    padding: 16px 16px 30px;
    margin: 0 0 20px 20px;
    font-weight: 300;
    width: 100%;
}

.transition {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 12px;
}

.post-field-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.post-field-container > label {
    font-size: 18px;
    font-weight: 800;
}
.last-post-field {
    margin-bottom: 20px;
}

.posts-container {
    border: 1px solid black;
    border-radius: 16px;
    padding: 20px;
    margin-left: 20px;
}

.right-side-container {
    display: flex;
    flex-direction: row;
}

/* .story {
  margin: 4px 0px;
}

.end-divider {
  color: gray;
  text-align: center;
  margin: 5px 0px;
  border: 1px solid gray;
  padding: 2px;
}

@keyframes highlight {
  from {
    background: yellow;
  }

  to {
    background: rgba(0, 0, 0, 0);
  }
} */
