p {
    font-size: 14px;
    font-weight: 200;
    line-height: 0.8em;
}

.content {
    position: absolute;
    bottom: 0px;
    padding: 0 0 40px 140px;
    z-index: 10;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    object-fit: cover;
}

.attester {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.join {
    display: flex;
    width: 260px;
    margin: 20px 0;
    text-align: center;
    justify-content: center;
}

.join-button {
    position: absolute;
    right: 200px;
    bottom: 100px;
}

.bg {
    z-index: 0;
}
