.forum-container {
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    padding: 15px;
    height: auto;
    background-color: white;
}

h3 {
    color: cadetblue;
    margin-left: 10px;
}

.overview {
    margin-top: 20px;
    margin-left: 55px;
}

.avatar-title-wrapper {
    display: flex;
    align-items: center;
}

.post-title {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.post-title > div:first-child {
    font-size: 18px;
    font-weight: 700;
}

.karma-wrapper {
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 0;
    width: fit-content;
    background-color: white;
}

.karma-wrapper > div {
    font-size: 12px;
    font-weight: 300;
    padding: 2px 20px;
}

.karma-wrapper > div:last-child {
    border-left: 1px solid black;
    border-radius: 8px;
    background-color: #dbefff;
}

.avatar__image {
    /* Size */
    width: 32px;
    height: 32px;
    object-fit: contain; /* Maintain aspect ratio */
}

.post-time {
    height: 1.5rem;
    width: 1.5rem;
}

.post-time-positioner {
    margin-left: auto;
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.post-time-positioner div:last-child {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.vote-info-container > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.vote-info-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
