.forum-container {
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
    height: auto;
}

h3 {
    color: cadetblue;
    margin-left: 10px;
}

.overview {
    margin-left: 105px;
    margin-bottom: 10px;
    padding-right: 40px;
}

.avatar-title-wrapper {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.avatar {
    /* Size */
    height: 3rem;
    width: 3rem;
    margin-right: 16px; /* Add margin to separate avatar from title */
}

.avatar__image {
    /* Size */
    height: 100%;
    width: 100%;
    object-fit: contain; /* Maintain aspect ratio */
}

.post-time {
    height: 1.5rem;
    width: 1.5rem;
}

.post-time-positioner {
    margin-left: auto;
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.post-time-positioner div:last-child {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.vote-info-container > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.vote-info-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
