.proposal-container {
    padding: 16px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    width: 100%;
}
.proposal-title {
    font-size: 16px;
    font-weight: 500;
}

.proposal-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.proposal-state-wrapper {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.proposal-status {
    border: 1px solid #1ada50;
    border-radius: 6px;
    padding: 2px 20px;
}

.proposal-container > div:last-child {
    font-weight: 300;
    opacity: 0.8;
}
